div.upload-field > img,
div.upload-field > div {
    margin: auto;
    display: block;
}

div.preview-img {
    margin: auto;
    border: 3px outset #999;
}

div.image-loading {
    background: url('../images/loading_big.gif') 0 0 no-repeat;
    height: 100px;
    width: 100px;
    margin: auto;
}

div.qq-uploader .qq-upload-drop-area {
    border: 2px dashed #CCC;
    background-color: #EEE;
    color: #CCC;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
div.qq-uploader .qq-label-drop {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    margin: 50px auto;
}
div.qq-uploader .qq-upload-drop-area.qq-drag-enter {
    border-color: #027001;
    color: #027001;
    background-color: #E8FFE8;
}

.qq-upload-button {
    background: url(../images/upload.jpg) 0 0 no-repeat;
    width: 117px;
    font-size: 12px;
    padding: 5px 0 5px 35px;
    font-weight: bold;
    color: #05568B;
    margin: 50px auto;
}
.qq-upload-button:hover {
    background-position: 0 -23px;
    cursor: pointer;
}
div.qq-upload-button.save-image {
    margin: 10px auto;
}

div.qq-uploader ul.qq-upload-list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}
div.qq-uploader ul.qq-upload-list li {
    background-color: #EEE;
    color: #777;
    padding: 2px 0 2px 10px;
}
div.qq-uploader ul.qq-upload-list li.qq-upload-success {
    color: #027001;
    background-color: #E8FFE8;
}
div.qq-uploader ul.qq-upload-list li.qq-upload-fail {
    color: #76070d;
    background-color: #FDE3E5;
}
div.qq-uploader ul.qq-upload-list li span,
div.qq-uploader ul.qq-upload-list li a {
    padding-right: 10px;
}
div.qq-uploader ul.qq-upload-list li span.qq-upload-file {
    font-weight: bold;
    font-style: italic;
}
div.qq-uploader ul.qq-upload-list li span.qq-upload-spinner {
    background: url(../images/loading.gif) 0 0 no-repeat;
    padding: 0 15px 0 0;
    margin-right: 10px;
}
div.qq-uploader ul.qq-upload-list li span.qq-upload-size {
    font-weight: bold;
}
div.qq-uploader ul.qq-upload-list li span.qq-upload-failed-text {
    display: none;
}
div.qq-uploader ul.qq-upload-list li.qq-upload-fail span.qq-upload-failed-text {
    display: inline;
}

div.d-ratio {
    text-align: center;
}

/**
 * CSS de la lista de folders
 */
div.listrotator {
}
div.listrotator .item {
    float: left;
    width: 128px;
    padding: 5px 10px;
    margin: 10px 15px;
    height: 180px;
}
div.listrotator .item .image {
    width: 128px;
    height: 128px;
    background: url('../images/folder128x128.png') 0 0 no-repeat;
}
div.listrotator .item .image a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}
div.listrotator .item .title {
    text-align: center;
    padding: 4px 0;
}
div.listrotator .item .extra {
    text-align: center;
    font-weight: bold;
}
div.listrotator .item .extra .sep {
    padding: 0 2px;
}
div.listrotator .item .extra a img {
    position: relative;
    top: 4px;
    padding: 0 2px;
}
h2.main-title {
    color: #226f9d;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}

/**
 * Estilo de la tabla con el thumbnail
 */
table.banner-thumb td {
    text-align: center;
}
table.banner-thumb td div {
    margin: auto;
}
table.banner-thumb tr:first-child td {
    color: #226F9D;
    font-weight: bold;
    font-size: 16px;
}
