<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC" >

        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_fees"
            section="component" />
            
	</fieldset>
	
	<fieldset 
		name="component"  
		label="JCONFIG_IVA_LABEL"
        description="JCONFIG_IVA_DESC" >
		
		<field
			class="inputbox validate-numeric"
			name="valIvaTaPortal"
			type="text"
			label="AF.LABEL.INFO.COMPONENTE.IVA"
			
			maxlength="3"
			required="true"
			description="AF.LABEL.INFO.COMPONENTE.IVA.LABEL"
		/>
	</fieldset>
	
</config>
