.clrlft.clrrt {
    clear: both;
}

/**
 * START Edicion de la Reserva
 */
div.width-100 fieldset {
    border-radius: 5px;
}
fieldset table.admintable {
    margin: 15px 0 10px;
    border-spacing: 0;
}
fieldset table.admintable label {
    margin: 0;
}
fieldset table.admintable tr:first-child td.key {
    border: none;
}
fieldset table.admintable td {
    padding-left: 10px;
    background-color: #fff;
    background: -moz-linear-gradient(left,  rgba(221,234,248,1) 0%, rgba(255,255,255,0.75) 25%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(221,234,248,1)), color-stop(25%,rgba(255,255,255,0.75)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.75) 25%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.75) 25%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.75) 25%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.75) 25%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddeaf8', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
fieldset table.admintable td.key {
    background: #146295;
    border-top: 2px solid #ddeaf8;
    padding: 4px 3px 4px 0;
    color: #fff;
    width: 150px;
    text-align: right;
}
#detail-booking.pane-sliders .content {
    background-color: #fff;
}
table.segment {
    padding: 10px;
    border-spacing: 0px;
}
table.segment thead th {
    padding: 5px 0 5px 20px;
    font-size: 1.2em;
    background: #146295;
    color: #fff;
    text-align: left;
}
table.segment td {
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.segment tr.title td {
    padding-left: 35px;
    font-size: 1.1em;
    font-weight: bold;
    color: #808080;
    text-decoration: underline;
    background: url(plane.png) #eee no-repeat 5px 2px;
}
table.segment tr.flight:hover td.value {
    background-color: #dbe9f2;
}
table.segment td.label {
    width: 20%;
    font-weight: bold;
    background-color: #F4BD79;
}
table.segment td.value {
    width: 30%;
}
#detail-booking table.adminlist {
    margin: 10px 0;
}
#detail-booking table.adminlist td {
    height: auto;
}
#detail-booking table.adminlist td.text {
    padding-left: 10px;
}
#detail-booking table.adminlist td.number {
    text-align: right;
    padding-right: 10px;
    width: 17%;
}
#detail-booking table.adminlist tr.last {
    font-size: 1.15em;
}
#detail-booking table.adminlist tr.last td.totaltitle {
    text-align: right;
    font-weight: bold;
    background: #146295;
    padding-right: 10px;
    color: #fff;
    border-top: 2px solid #ddeaf8;
}
#detail-booking table.adminlist tr.last td.subtotal {
    font-size: 12px;
}
#detail-booking table.adminlist tr.last td {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    background: -moz-linear-gradient(top,  rgba(221,234,248,1) 0%, rgba(255,255,255,0.55) 45%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,234,248,1)), color-stop(45%,rgba(255,255,255,0.55)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.55) 45%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.55) 45%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.55) 45%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,234,248,1) 0%,rgba(255,255,255,0.55) 45%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddeaf8', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
/**
 * START Edicion de la Reserva
 */

/**
 * Status's CSS
 */
td.col-color {
  width: 60px;
  text-align: center;
}
td.choose-color {
  line-height: 20px;
  width: 60px;
  text-align: center;
}
td.choose-color div,
td.choose-color .minicolors-swatch {
  width: 50px;
  height: 20px;
  display: inline-block;
  border: 1px solid #555;
  box-shadow: inset 0 9px 0 rgba(255,255,255,.1);
}
td.choose-color .minicolors-swatch span {
    position: relative;
}
td.choose-color div:hover,
td.choose-color .minicolors-swatch:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #777,
              inset 0 9px 0 rgba(255,255,255,.1);
}


/**
 * Tooltip to change the order's status
 */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 100;
}
div.change-status {
    position: absolute;
    border: 1px solid #555;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 4px #555;
    border-radius: 4px;
    padding: 10px 18px 10px 12px;
}
div.change-status:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid #f9f9f9;
    top: 50%;
    right: -20px;
}
div.change-status:before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid #222;
    top: 50%;
    right: -21px;
}
div.change-status p {
    margin: 5px 0;
}
div.change-status ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
}
div.change-status ul li {
    position: relative;
    font-size: 11px;
    line-height: 14px;
    padding: 4px 5px 4px 15px;
    border-top: 1px solid #ccc;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
}
div.change-status ul li:hover {
    background-color: #b9e1f0;
}
div.change-status ul li:first-child {
    border: none;
}
div.change-status ul li:first-child span {
    height: 22px;
    top: 0;
}
div.change-status ul li span {
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 23px;
    left: 0;
    top: -1px;
}

#w-change-status {
    position: absolute;
    background-color: #ffedab;
    width: 530px;
    height: 200px;
    margin: auto 50%;
    left: -265px;
    z-index: 110;
    top: 0;
    border: 1px solid #333;
    box-shadow: 0px 1px 5px #333;
    border-radius: 0 0 7px 7px;
    padding: 30px 15px 10px 15px;
}
#w-change-status table {
    width: 100%;
}
#w-change-status table td {
    font-size: 12px;
    color: #333;
}
#w-change-status table td.key:first-child {
    width: 90px;
}
#w-change-status table td.key {
    font-size: 11px;
    width: 120px;
    font-weight: bold;
}
#w-change-status table td textarea {
    width: 520px;
    height: 120px;
    resize: none;
}
#w-change-status .buttons {
    height: 20px;
    text-align: right;
}
#w-change-status .buttons input:first-child {
    margin: 0 5px;
}
#w-change-status .buttons input {
    margin: 5px 0;
    padding: 4px 15px;
}
#detail-booking pre {
    margin: 0 0 0 15px;
    font-size: 12px;
}
