@import "bourbon/bourbon";

// variables
$wd : 980px;
$color-yellow: #fff110;
$color-lightblue: #ddf9ff;
$color-blue: #1467b6;
$color-lightgray: #f5f5f5;
$color-base: #333;

// general
@import "normalize";
@import "grid";
@import "general";
@import "layout";
@import "box-menu-tools";
@import "box-header";
@import "box-footer";

// modules
@import "browsehappy";
@import "aws";
@import "qsearch";
@import "slider";
@import "mod-default";
@import "discount-flights";
@import "jcarousel";