.reservation-details {
    background: -moz-linear-gradient(center top , #f4fdfc, #e4f0f8, #b6dcef) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4fdfc), to(#b6dcef) );
	background: -webkit-linear-gradient(top, #f4fdfc, #b6dcef);
	background: linear-gradient(top, #f4fdfc, #b6dcef);

    border-bottom: 1px solid #e4f0f8;
    font-size: 1em;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 0 !important;
    padding: 5px 10px;
}
.reservation-steps ul li.completed {
	background: #d9e5ee;
}

